.promo-block--mheight-300 {
  min-height: 300px;
}
.promo-block--mheight-600 {
  min-height: 600px;
}
#promo_image {
  background-image: url("img1.jpg");
}
.overlay__inner {
  position: relative;
  z-index: 1;
}
.image-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate3d(0, -50%, 0);
}
@media (max-width: 1199px) {
  .promo-block {
    background-attachment: fixed;
  }
}.top-font {
  color: #EFEFEF;
 }
div#login-form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #888844;
  background-color: #fafafa;

  h1 {
    background-color: transparent;
    color: #888844;
    font-size: 20px;
    font-weight: bold;
  }

  form {
    div {
      padding: 10px;
      label {
        display: block;
        padding: 6px 0;
      }
      input[type="text"], input[type="password"] {
        padding: 10px;
        width: 360px;
      }
      input[type="submit"] {
        padding: 10px 20px;
      }
      input[type="checkbox"]+label { display: inline-block }
    }
  }
}